<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Radiación Solar</title>

  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="graphic.css" rel="stylesheet" type="text/css" />
  <link href="banner.css" rel="stylesheet" type="text/css" />
  <link href="pagina.css" rel="stylesheet" type="text/css" />
  <link href="uv.css" rel="stylesheet" />
</head>

<body>
  <section class="main-banner">
    <div class="grid-container">
      <div class="content">
        <h1 class="title s-center">
          <span class="line-1">IA y Sol</span>
          <br>
          <span class="line-2">Prediciendo la radiación solar con precisión</span>
        </h1>
        <p class="description s-center">Bienvenido a nuestra plataforma, donde combinamos la inteligencia artificial
          con la energía solar para ofrecerte predicciones precisas de la radiación solar. Nuestro avanzado sistema de
          IA analiza datos en tiempo real para proporcionar información detallada y exacta sobre los niveles de
          radiación solar.</p>
      </div>
      <div class="graphic">
        <img class="graphic-sun" src="img/sol.png">
      </div>
    </div>    
  </section>
  <section class="weather">
    <div class="forecast">
        <% 
        const daysOfWeek = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
        daysOfWeek.forEach(day => {
            const dayRecords = registros.filter(record => record.dia_semana === day);
            if (dayRecords.length > 0) { 
        %>
        <div class="day">
            <h2><%= day %></h2>
            <% dayRecords.forEach(function(registro) { 
            var barWidth = registro.uv_intensity * 10; // Calcular el ancho de la barra
            var barClass = 'level-' + registro.uv_intensity; // Asignar la clase según el nivel
            %>
            <div class="countdown flex">
                <div class="uv-container">
                    <div class="uv-header">
                        <span><%= registro.fecha %></span>
                        <span><%= registro.dia_semana %></span>
                    </div>
                    <div id="uv-levels">
                        <div class="uv-level">
                            <span><%= registro.hora %></span>
                            <div class="bar <%= barClass %>" style="width: <%= barWidth %>%;"></div>
                            <span class="bar-value"><%= registro.uv_intensity %></span>
                        </div>
                    </div>
                    <div class="uv-footer">
                        El índice ultravioleta previsto para hoy en Bayóvar bajo.
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        <% 
            }
        });
        %>
    </div>
</section>
  <script src="clock.js"></script>
  <!-- <script src="grafico.js"></script> -->
</body>
